#landing-page {
    width: 100vw;
    height: 100vh;
    background: #1E5F74;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}
#landing-page main {
    position: relative;
    width: 100%;
    max-width: 944px;
    height: 100%;
    max-height: 530px;

    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
#landing-page main img {
    position: absolute;
    width: 322px;
    height: 215px;
    bottom: 40%;
    left: 55%;
}
#landing-page main .nerv a {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}
#landing-page main {
    position: relative;
    width: 100%;
    max-width: 944px;
    height: 100%;
    max-height: 530px;

    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
#landing-page main img {
    position: absolute;
    width: 322px;
    height: 215px;
    bottom: 40%;
    left: 55%;
}
#landing-page main .nerv a {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#landing-page main .nerv a h2 {
    margin-left: 15px;
    width: 298px;
    height: 61px;
    left: 64px;
    top: 146px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
#landing-page main {
    color: #C4C4C4;

}
#landing-page main h1 {
    height: 97px;
    left: 76px;
    top: 253px;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
}
#landing-page main p {
    width: 458px;
    height: 67px;
    left: 89px;
    top: 350px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
}
#landing-page main span {
    width: 471px;
    height: 70px;
    left: 83px;
    top: 479px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
#landing-page main .curriculum-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 95px;
}
#landing-page main .curriculum-buttons {
    width: 100%;
    max-width: 471px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
 
#landing-page main .nerv a h2 {
    margin-left: 15px;
    width: 298px;
    height: 61px;
    left: 64px;
    top: 146px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
#landing-page main .curriculum-buttons a {
    width: 349px;
    margin-left: 50px;
    font-style: normal;
    font-weight: normal;
    border-radius: 30px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F56A79;
    transition: background-color 0.2s;
    text-decoration: none;
}
#landing-page main .curriculum-buttons a:hover {
    background: rgba(245, 106, 121, 0.3);
}
#landing-page main {
    color: #C4C4C4;

}
#landing-page main h1 {
    height: 97px;
    left: 76px;
    top: 253px;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
}
#landing-page main p {
    width: 458px;
    height: 67px;
    left: 89px;
    top: 350px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
}
#landing-page main span {
    width: 471px;
    height: 70px;
    left: 83px;
    top: 479px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
#landing-page main .curriculum-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 95px;
}
#landing-page main .curriculum-buttons {
    width: 100%;
    max-width: 471px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landing-page main .curriculum-buttons #button-container Button {
    font-weight: normal;
}

#landing-page main .curriculum-buttons a {
    width: 349px;
    margin-left: 50px;
    font-style: normal;
    font-weight: normal;
    border-radius: 30px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F56A79;
    transition: background-color 0.2s;
    text-decoration: none;
}
#landing-page main .curriculum-buttons a:hover {
    background: rgba(245, 106, 121, 0.3);
}

@media(max-width: 1000px) {
    #landing-page {
        position: fixed;

        justify-content: center;
        align-items: center;
    }

    #landing-page main {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 80vh;

        justify-content: center;
        align-items: center;
    }

    #landing-page main .nerv {
        position: absolute;
        top: 10px;
        left: 25px;

        justify-content: center;
        align-items: center;
    }

    #landing-page main .nerv h2 {
        padding-top: 15px;
    }

    #landing-page main .curriculum-info {
        height: 100px;
        align-items: center;
    }

    #landing-page main .curriculum-info p {
        font-size: 16px;
    }

    #landing-page main .curriculum-info span {
        width: 60%;
        font-size: 14px;

        margin-top: -60px;
    }

    #landing-page main .curriculum-buttons {
        margin-top: -60px;

        flex-direction: column;
        justify-content: space-between;

        height: 130px;
        width: 50%;
    }

    #landing-page main .curriculum-buttons #button-container button {
        width: 200px;
    }

    #landing-page main .curriculum-buttons a {
        margin: 0;
        padding: 0;

        width: 200px;
    }

    #landing-page main img {
        width: 0;
    }
}