#generate-page {
    width: 100%;
    height: 100%;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #1E5F74;
}

#generate-page h1, h2 {
    color: #FFF;
    margin-bottom: 10px;
}

#generate-page h1, h2 {
    text-align: center;
}

#generate-page h2 {
    margin-bottom: 20px;
}

#generate-page main {
    background-color: #FFF;
    width: 700px;

    border-radius: 20px;
    padding: 30px;
    box-shadow: 1px 3px 5px #000;
}

#generate-page main .input-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#generate-page main .input-block label {
    color: #206177;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: bold;
}

#generate-page main .input-block input {
    background-color: #107AB0;
    border: none;
    border-radius: 20px;
    height: 50px;

    color: #FFF;
    padding: 20px;
}

#generate-page main .input-block textarea {
    background-color: #107AB0;
    border: none;
    border-radius: 20px;

    padding: 20px;
    color: #FFF;
}